<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Your Company</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a
          href="#page-submenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
        </a>
        <ul class="collapse list-unstyled" id="page-submenu">
          <li>
            <a href="#">Today's Earnings</a>
          </li>
          <li>
            <a href="#">New User Accounts</a>
          </li>
          <li>
            <a href="#">New User Posts</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="content">
    <div class="container-fluid">
      <!-- Tu contenido existente -->
      <app-inicio></app-inicio>
      <app-maps></app-maps>
    </div>
  </div>
</div>
