/* Estilos para el contenedor principal */
.wrapper {
  display: flex;
}

/* Estilos para la barra lateral */
#sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
}

.sidebar-header {
  margin-bottom: 20px;
}

.sidebar-header h3 {
  font-size: 18px;
  font-weight: bold;
}

.list-unstyled {
  padding-left: 0;
}

.list-unstyled li {
  margin-bottom: 10px;
}

.list-unstyled li a {
  color: #333;
  text-decoration: none;
  display: block;
}

.list-unstyled li a:hover {
  color: #555;
}

/* Estilos para el contenido principal */
#content {
  flex-grow: 1;
  padding: 20px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

/* Estilos adicionales para los elementos existentes */
.white-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.col-md-12 {
  width: 100%;
}

.col-lg-6 {
  width: 50%;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #101010;
  padding: 10px 0;
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #080808;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: #000000;
}
